@import "tailwindcss";

#hero {
  background-image: url("https://i.postimg.cc/zGQZyyzV/LikaJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
}